<section>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/store/{{storeSlug}}">Event</a></li>
      <li>
        <span class="show-for-sr">Current: </span> Create Event
      </li>
    </ul>
  </nav>
  
  <h4>Create New Event for {{storeSlug}}</h4>

  <div class="callout clearfix">
    <form action="/store/{{storeSlug}}/event" method="post">
      <label>Select Store Location
      <select name="store">
        {{#each stores}}
          <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
      </label>
      
      <label>Event Title
        <input name="name" value="" type="text" placeholder="Meet the filmmakers">
      </label>
  
      <label>Presenters, comma separated
        <input name="members" value="" type="text" placeholder="John Smith, Jane Smith">
      </label>
  
      <label>Moderators (if any), comma separated
        <input name="moderator" value="" type="text" placeholder="Jane Smith">
      </label>
  
      <button type="submit" class="button float-right">Create Event</button>
    </form>
  </div>
  
  {{#if errors}}
    <div class="alert callout">
      <p><strong>Errors</strong></p>
      <ul>
        {{#each errors}}
          <li>
            {{this}}
            <br>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</section>